{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/bibliotekue"><img src="{% static 'images/github.png' %}" alt="..."></a></li>
<!--         <li><a href="https://stepik.org/users/299109269?auth=registration"><img src="{% static 'images/stepik.jpg' %}" alt="..."></a></li>
        <li><a href="https://t.me/bibliotekue"><img src="{% static 'images/telegram.png' %}" alt="..."></a></li>
        <li><a href="https://www.kaggle.com/semyonpuchin/code?userId=6435518&sortBy=dateRun&tab=profile"><img src="{% static 'images/kaggle.png' %}" alt="..."></a></li> -->
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved.</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
